---
import PageLayout from "@/layouts/Base.astro";
import { getAllArticles } from "@/data/articles";
const allArticles = await getAllArticles();

const meta = {
	description: "A collection of articles and other things I like..",
	title: "recommended",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Articles</h1>
		<section class="mt-16">
			<ul class="space-y-4">
				{
					allArticles.map(({ desc, href, title, date, source }) => (
						<li class="mb-8">
							<a
								class="cactus-link whitespace-nowrap font-bold"
								href={href}
								rel="noreferrer"
								target="_blank"
							>
								{title}
							</a>
							<p class="mt-2">{desc}</p>
							<span class="text-xs italic">
								{date} - {source}
							</span>
						</li>
					))
				}
			</ul>
		</section>
	</div>
</PageLayout>
